{% extends "pokersquare/base2.html.twig" %}

{% block title %}PokerSquare About{% endblock %}

{% block bodypro %}
    <h1 class="titles">PokerSquare About</h1>
    <p>Detta är mitt projekt i kursen MVC</p>
    <p>Jag har gjort kortspelet Pokersquare. Projeket handlar om att visa vad vi har lärt oss och jobbat med i kursen MVC.
        Jag har använt mig av Symfony och Twig för att skapa spelet. Jag har även använt mig av PHP för att skapa spelet.
        En del av kursen har varit att testa koden vi har och dokumentera den. För tester har vi använt oss av phpunit.
        Det är ett väldigt bra sett att testa sin kod på och rapporten man får ut från den är väldigt tydlig med vad du har testat 
        och inte har testat så det är toppen. 
    </p>
{% endblock %}