{% extends "pokersquare/base2.html.twig" %}

{% block title %}PokerSquare{% endblock %}

{% block bodypro %}
    <h1 class="titles">PokerSquare</h1>
    <p>Välkommen till spelet pokersquares.</p>
{% endblock %}