{% extends "base.html.twig" %}

{% block title %}Card Draw One{% endblock %}

{% block body %}
    <h1>Card Draw One page</h1>
    <p>Amount of cards left: {{cardsLeft}}</p>
    {% if card.suit == "♥️" or card.suit == "♦️" %}
        <p class="card card_red">{{ card.getAsString() }}</p>
    {% else %}
        <p class="card">{{ card.getAsString() }}</p>
    {% endif %}
{% endblock %}