body {
    margin: 0 auto;
    max-width: 800px;
    background-color: #eee;
}

h1 {
    border-bottom: 4px double #ccc;
}

input {
    font-size: 1em;
}

.profile_picture {
    max-width: 500px;
}

.php_picture {
    width: 300px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
    margin: 10px;
}

.lucky_picture {
    width: 600px;
    border-radius: 10%;
    border: 3px solid #000000;
}

.rainbow-text {
    background: radial-gradient(circle,dodgerblue,yellow);
    background-clip: text;
    color: transparent;
    animation: gemini 5s linear infinite;
    background-size: 200% 200%;
}

@keyframes gemini {
    0%{
        background-position: 0% 0%;
    }
    
    50%{
        background-position: 100% 100%;
    }
    
    100%{
        background-position: 0% 0%;
    }
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #000000;
    background-color:#e4e4e4;
}

.header p {
    margin: 0;
    font-size: 1.5rem;
}

.header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    margin-right: 20px;
}

.header nav ul li a {
    text-decoration: none;
    color: inherit;
}

.header nav ul li:last-child {
    margin-right: 0;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 20px;
    text-align: center;
    align-items: start; /* Align items to the start (top) */
    border-top: 4px double #000000;
    background-color:#e4e4e4;
    margin-bottom: 10px;
}

.footer-text, .footer-links {
    display: flex;
    flex-direction: column; /* Makes sure content is laid out vertically */
    padding: 10px;
}

.footer-text h2, .footer-links h2 {
    align-self: start; /* Aligns headings to the start (top) */
    margin-bottom: 10px; /* Add space below headings */
}

.footer-text p {
    text-align: left; /* Aligns the paragraph text to the left */
}

.footer-links {
    align-items: start; /* Align items to the start (left) in the grid cell */
}

.footer-links a {
    text-decoration: none;
    padding: 5px 0; /* Add vertical padding for better spacing */
}

.footer-signature {
    grid-column: 1 / -1; /* Span across all columns */
    grid-row: 2;
    text-align: center;
    padding-bottom: 10px;
}


.routes-table caption {
    caption-side: top; /* Default value, can be changed to 'bottom' */
    font-size: larger; /* Makes the caption text larger */
    font-weight: bold; /* Makes the caption text bold */
    margin-bottom: 10px; /* Adds space between the caption and the table */
    text-align: center; /* Centers the caption text */
}

.routes-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.routes-table td, .routes-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.routes-table tr:nth-child(even){
    background-color: #f2f2f2;
}

.routes-table tr:hover {
    background-color: #ddd;
}

.routes-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.die {
    font-size: 2em;
}

li {
    font-size: 2em;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    font-size: 6rem;
    margin: 0.7rem;
    width: auto;
    text-align: center;
}

.card_red {
    color: red;
}

.box {
    width: 90%;
    border-radius: 10px;
    border: 3px solid #000000;
    padding: 10px;
    text-align: center;
    margin: 5px auto;
}

li p {
    font-size: 1em;
}