{% extends "base.html.twig" %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <h1>Home Page</h1>
    <p>Välkommen till min hemsida.</p>
    <p>Jag heter Alexander Winblad och går första året på Webbprogrammering(180HP) på BTH.</p>
    <p>Jag kommer från Varberg och flyttade ner hit 2020 för att börja plugga Civ Spel men kände att det inte var rätt så började om på Webbprogrammering nu hösten 2023.</p>
    <p>På fritiden tycker jag om att spela datorspel, spela innebandy, programmera och bara ta de lugnt.</p>
    <img class="profile_picture" src="{{ asset('build/images/alexander.JPEG') }}" alt="">
{% endblock %}